#####################
## Specific to ESLint
#####################

## Ignore all files (but still allow sub-folder scanning)
*
!*/

## Allow certain file types
!*.cjs
!*.js
!*.json
!*.mjs
!*.ts

#########################
## Shared between linters
#########################

fixtures

########################
## Same as in .gitignore
########################

.DS_Store
*.log
cache
coverage
dist
node_modules
