#####################
## Specific to ESLint
#####################

## Ignore all files (but still allow sub-folder scanning)
*
!*/

## Allow certain file types
!*.cjs
!*.js
!*.json
!*.mjs
!*.ts

########################
## Same as in .gitignore
########################

## Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

## Misc
.DS_Store
*.log
cache
coverage
dist

#########################
## Shared between linters
#########################

.git
.yarn
fixtures
