#######################
## Specific to Prettier
#######################

## Ignore all files (but still allow sub-folder scanning)
*
!*/

## Allow certain file types
!*.cjs
!*.js
!*.json
!*.md
!*.mjs
!*.ts
!*.yml

#########################
## Shared between linters
#########################

.git
fixtures
pnpm-lock.yaml
