trigger:
  - master

jobs:
  - job: Lint
    displayName: Lint on Linux Node v10
    pool:
      vmImage: "Ubuntu 16.04"
    variables:
      NODE_VERSION: 10
    steps:
      - template: azure-pipelines/jobs/lint.yml

  - job: Test_Windows
    displayName: Test on Windows Node v10
    pool:
      vmImage: vs2017-win2016
    variables:
      NODE_VERSION: 10
    steps:
      - template: azure-pipelines/jobs/test.yml

  - job: Test_macOS
    displayName: Test on macOS Node v10
    pool:
      vmImage: macos-10.14
    variables:
      NODE_VERSION: 10
    steps:
      - template: azure-pipelines/jobs/test.yml

  - job: Test_Linux
    displayName: Test on Linux Node v10
    pool:
      vmImage: "Ubuntu 16.04"
    variables:
      NODE_VERSION: 10
    steps:
      - template: azure-pipelines/jobs/test.yml
